body {
    margin: 0px;
    background-color: burlywood;
}

/* Nav Bar */ 
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-bar> .left-side > div {
    margin-right: 20px;  
    font-size: 0.9em; 
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;  
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a ;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.brand {
    color: purple;
    font-family:'Times New Roman', Times, serif
}

/* Icons */ 
.container-links {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.twitter {
    display: inline-block;
    color: #aaaa;
    transition: color 0.5s;
    text-align: center; 
    margin-right: 30px;
   
}

.link-in {
    display: inline-block;
    color: #aaaa;
    transition: color 0.5s;
    text-align: center;  
    margin-right: 30px;
     
}

.email {
    display: inline-block;
    color: #aaaa;
    transition: color 0.5s;
    text-align: center; 
    margin-right: 30px; 
   
}

.github {
    display: inline-block;
    color: #aaaa;
    transition: color 0.5s;
    text-align: center; 
    margin-right: 30px;    
}

/* Pictures */ 
.container-pictures {
    display: flex;
    justify-content: space-between
}

.princess img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
       
}

.contact img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
       
}

.chelsea img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center; 
    margin-right: 30px; 
    
}

.paris img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center; 
    margin-right: 30px; 
    
}

.coding img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center; 
    margin-right: 30px; 
    
}

.ics img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center; 
    margin-right: 30px; 
}


/* Text */ 
.span-contact {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: grey;
}

h2 { 
color: #8a8a8a;
font-weight: bold;
text-align: center;
font-size: xx-large;
text-transform: uppercase;
}

p {
    color: #8a8a8a;
    font-weight: bold; 
    text-align: center;
    margin: 50px;
}

.about-text p {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(74, 62, 184, 0.667);
    width: 50%;
    text-align: left;
    
    
}


